.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content{
display: flex;
max-width: 1400px;
gap: 2;
margin: 0 auto;

.contentLeft{
  
   padding: 2rem;

  
  .img {
  
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid royalblue;
  }
  
 

}
.contentRight{
 display: flex;
 flex-direction: column;
  padding: 2rem;
}

}


.heading {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--color-text-accent);
  margin-bottom: var(--gap-small);
}
.paragraph {
  font-size: var(--font-size-subtitle);
  line-height: 1.7;
  color: var(--color-text-secondary);
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .content {
   flex-direction: column;
  align-items: center;
   
  }
}

.skillsMarqueeWrapper {
  position: relative;
  margin-top: 2rem;
 

  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    #000 15%,
    #000 85%,
    transparent 100%
  );
}

.marqueeTrack {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marqueeContent {
  display: flex;
  gap: 1.5rem;
  padding: 0 2rem;
}
