.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em 1.5em;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, border 0.3s;
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: none;
    letter-spacing: 0.02em;
    background: var(--color-primary);
    color: var(--color-text-inverse);
}

.button:hover {
  background: var(--color-secondary);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-secondary);
}

.button.primary {
  background: var(--color-primary);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-primary);
}
.button.primary:hover, .button.primary:focus {
  background:  color-mix(in srgb, var(--color-primary) 70%, transparent);
  border: 1px solid var(--color-primary);
  color: var(--color-text-inverse);
  box-shadow: var(--shadow-lg);
}

.button.secondary {
  background: var(--color-secondary);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-secondary);
}
.button.secondary:hover, .button.secondary:focus {
   background:  color-mix(in srgb, var(--color-primary) 70%, transparent);
  border: 1px solid var(--color-primary);
  color: var(--color-text-inverse);
  box-shadow: var(--shadow-lg);
}

.button.accent {
  background: inherit;
  color: var(--color-text-inverse);
  border: 1px solid var(--color-primary);
 
}
.button.accent:hover, .button.accent:focus {
    background:  color-mix(in srgb, var(--color-primary) 70%, transparent);
  border: 1px solid var(--color-primary);
  color: var(--color-text-inverse);
  box-shadow: var(--shadow-lg);
}

.button.disabled, .button:disabled {
  background: var(--bg-muted);
  color: var(--color-text-muted);
  cursor: not-allowed;
  opacity: 0.7;
  border: 1px solid var(--bg-muted);
}

.fullWidth {
  width: 100%;
}
.fitWidth {
  width: fit-content;
}

@media (max-width:780px) {
  .button{
    padding: 8px 14px;
    font-size: 0.9rem;
  }
}

.buttonAccent {
  background: var(--color-accent);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-primary);
}

.buttonAccent:hover {
  background:  color-mix(in srgb, var(--color-primary) 70%, transparent);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-secondary);
}