.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 1400px;
  margin: 0 auto;
  color:var(--color-light);
 min-height: 100vh;
  padding:1rem;
}
@media (max-width: 1024px) {
  .section {
    text-align: center;
    padding: auto 1rem;
    grid-template-columns: 1fr;
  }
}
.leftSide {
  padding: 2rem;
  background: var(--bg-secondary);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  border: 1px solid var(--color-border);
  box-shadow: 0 20px 40px var(--glow-effect);
}

.header h2 {
  font-family: var(--font-title);
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.header h2 span {
  color: transparent;
  background: var(--gradient-accent);
  background-clip: text;
}
.subtitle {
  font-size: 1.1rem;
  color: var(--color-text-secondary);
  line-height: 1.8;
  margin-bottom: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.inputGroup {
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 1.2rem;
  background: var(--bg-overlay);
  border: none;
  border-radius: 8px;
  color: var(--color-text-accent);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.inputGroup label {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
  color: var(--color-text-accent);
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -1.2rem;
  left: 0.8rem;
  font-size: 0.9rem;
  color: var(--color-primary);
}

.inputBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--gradient-tech);
  transition: width 0.4s ease;
}

.inputGroup input:focus ~ .inputBorder,
.inputGroup textarea:focus ~ .inputBorder {
  width: 100%;
}

.icon {
  margin-left: 6px;
  font-size: 1.2rem;
}

.rightSide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.animationContainer {
  width: 100%;
  max-width: 450px;
}
.locationCard {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  background: var(--bg-overlay);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  margin-top: 3rem;
  border: 1px solid var(--color-border);
  transition: all 0.3s ease;
}

.locationCard:hover {
  background: var(--bg-secondary);
  transform: translateY(-5px);
}
.pinIcon {
  font-size: 2rem;
  color: var(--color-text-accent);
}
.locationText h4 {
  color: var(--color-light);
  font-size: 1.2rem;
}

.locationText p {
  color: var(--color-text-secondary);
  font-size: 0.9rem;
}
