.contactSection {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide {
  padding: 2.5rem;
  background: inherit;

  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-muted);

  transition: all 0.3s ease-in-out;
  max-width: 600px;
  box-shadow: inset var(--shadow-lg);
}

.leftSide:hover {
  transform: translateY(-5px);
}
.header {
  h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 1.1;
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.form {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 1.5rem;
  background: var(--bg-main);
  border: 1px solid var(--color-border-muted);
  border-radius: var(--radius-md);
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
  border-color: var(--color-secondary);
  box-shadow: var(--shadow-md);
}

.inputGroup label {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
  color: var(--color-secondary);
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -1.2rem;
  left: 0.8rem;
  font-size: 0.9rem;
  color: var(--color-primary);
}

.inputBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--gradient-tech);
  transition: width 0.4s ease;
}

.inputGroup input:focus ~ .inputBorder,
.inputGroup textarea:focus ~ .inputBorder {
  width: 100%;
}

.icon {
  margin-left: 6px;
  font-size: 1.2rem;
}

.rightSide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animationContainer {
  width: 100%;
  max-width: 500px;
}

.locationCard {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.8rem 2.2rem;
  background: inherit;

  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-muted);
  box-shadow: var(--shadow-sm);
  margin-top: 3rem;
  transition: all 0.3s ease;

  box-shadow: inset var(--shadow-lg);
}

.locationCard:hover {

  transform: translateY(-8px);
  box-shadow:var(--shadow-lg);
}

.pinIcon {
  font-size: 2.2rem;
  color:var(--color-secondary);
  transition: all 0.3s ease;
  cursor: pointer;
}
  .pinIcon:hover{
    color: var(--color-primary);
  }

.locationText h4 {
  color: #ffffff;
  font-size: 1.4rem;
}

.locationText p {
  color: #b0b0b0;
  font-size: 1rem;
}
@media (max-width:1000px) {
  .contactSection{
    flex-direction: column;
  }
}