.footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: var(--color-subtitle);
  position: relative;
  z-index: 20;
  background-color: var(--color-card-bg);
  border-top: 1px solid var(--color-card-border);
}

.footer a {
  color: var(--color-scroll);
}

.footer a:hover {
  color: var(--color-scroll-border);
}

.content{
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  margin-bottom: 4rem;
}


.section {
  padding: 2rem;
  background: rgba(156, 1, 156, 0.075);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.title {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: transparent;
  background: linear-gradient(120deg, #64ffda, #00c2ff);
  background-clip: text;
}
.description {
  color: #8892b0;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.socials {
  display: flex;
  gap: 1.5rem;
}
.socialLink {
  font-size: 1.5rem;
  color: #64ffda;
  transition: all 0.3s ease;
}

.socialLink:hover {
  color: #00c2ff;
}
.navLinks li {
  margin-bottom: 1rem;
}
.navLinks a {
  color: #8892b0;
  position: relative;
  padding-bottom: 2px;
 
}
.navLinks a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background:  #f264ffbb; 
  transition: width 0.3s ease;
}
.navLinks a:hover::after {
  width: 100%;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #64ffda;
  box-shadow: 0 0 10px rgba(100, 255, 218, 0.2);
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  text-align: center;
  color: #8892b0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.legalLinks a {
  color: #8892b0;
  transition: color 0.3s ease;
}

.legalLinks a:hover {
  color: #64ffda;
}