.footer {
  width: 100%;
  margin: 0 auto;
  color: var(--color-subtitle);
  position: relative;
  z-index: 20;
  background-color: var(--color-dark);
  border-top: 1px solid var(--color-border);
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  margin-bottom: 4rem;
}

.section {
  padding: 2rem;
  background: var(--bg-secondary);
  opacity: 0.6;
  backdrop-filter: blur(20px);
  border-radius: 24px;
  border: 1px solid var(--bg-overlay);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.section:hover {
  transform: translateY(-2px);
  scale: 1.009;
  opacity: 1;
}
.title {
  font-family: var(--font-title);
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: transparent;
  background-clip: text;
  background-image: var(--gradient-accent);
}
.description {
  color: var(--color-text-secondary);
  line-height: 1.8;
  margin-bottom: 2rem;
}
.socials {
  display: flex;
  gap: 1.5rem;
}

.socialLink {
  font-size: 1.5rem;
  color: var(--color-primary);

  transition: all 0.3s ease;
}

.socialLink:hover {
  color: var(--color-accent);
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 6;
}
.navLinks a {
  font-size: 1.2rem;
  color: var(--color-scroll);
  position: relative;
  padding-bottom: 2px;
}

.navLinks a:hover {
  font-size: 1.2rem;
  color: var(--color-scroll-hover);
  position: relative;
  padding-bottom: 2px;
}
.navLinks a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #f264ffbb;
  transition: width 0.3s ease;
}
.navLinks a:hover::after {
  width: 100%;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 1rem;
  background: var(--bg-primary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  color: var(--color-light);
  transition: all 0.3s ease;
}

.input:focus {
  border-color: var(--gradient-tech);
  box-shadow: 0 0 10px var(--glow-effect);
}

.copyright {
  border-top: 1px solid var(--color-border);
  padding: 2rem;
  text-align: center;
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.legalLinks a {
  color: var(--color-text-secondary);
  transition: color 0.3s ease;
}

.legalLinks a:hover {
  color: var(--color-primary);
}
