/* styles/modules/projects.module.css */
.projectsSection {
  padding: 6rem 2rem;
  background: var(--bg-main);
}
.header{
  text-align: center;

}
.sectionTitle{
  font-family: var(--font-title);
  font-size: 3rem;
  line-height: 1.1;
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.sectionSubtitle{
  color: var(--color-text-muted);
  text-shadow: var(--shadow-lg);
}



.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

