/* styles/modules/skillsCart.module.css */
.skillItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.8rem;
  background: linear-gradient(145deg, #0f172a, #1e293b);
  border-radius: 999px;
  border: 1px solid #334155;
  box-shadow: 4px 4px 8px #0b1017, 
             -2px -2px 6px #2b3a4e;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}


.skillItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.5rem;
  background: var(--bg-primary);
  backdrop-filter: bulr(20px);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-light);
  transition: all 0.3s ;
}



.iconFrame {
  padding: 8px;
  background: linear-gradient(145deg, #1e293b, #0f172a);
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px #0b1017, 
            inset -2px -2px 4px #2b3a4e;
}

.icon {
  filter: drop-shadow(0 2px 6px rgba(174, 0, 255, 0.3));
  transition: transform 0.3s;
}

.name {
  font-weight: 500;
  background: linear-gradient(90deg, #e2e8f0, #a78bfa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skillItem:hover .icon {
  transform: rotate(-12deg) scale(1.15);
}
